<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html" />

<dom-module id="visor-cuentas">
 <template>
   <h1>Sus cuentas </h1>
  <!--<h2>Las cuentas del usuario [[id]] </h2>
   <h3>son [[IBAN]] </h3>
   <h3>Balance [[balance]] </h3> -->
  <template is="dom-repeat" items="{{accounts}}" >
    <span>IBAN - {{item.IBAN}}</span>
    <span>Saldo - {{item.balance}}</span>
    <br /> <!-- salto de linea -->
  </template>
    <!-- Para iron-ajax:  auto dice que va a hacer la peticion en cuanto se carga -->
   <iron-ajax auto
     id="getAccount"
     url="http://localhost:3000/apitechu/v2/account/{{id}}"
     handle-as="json"
     on-response="showData">


 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class VisorCuentas extends Polymer.Element {
     static get is() { return 'visor-cuentas'; }
     static get properties() {
       return {

         userid: {
           type: Number
         }, accounts: {
           type:Array
         }
    /**     IBAN: {
           type: String
         },-->
         balance: {
           type: Number
         } */
       };
     }
     //Definimos otra función:
     showData(data){
       console.log("showData");

       console.log(data.detail.response); //esto llega del backend
       this.accounts = data.detail.response;

    /**   console.log(data.detail.response[0].userid);
       console.log(data.detail.response[0].IBAN);
       console.log(data.detail.response[0].balance);

        this.userid = data.detail.response[0].userid;
        this.IBAN = data.detail.response[0].IBAN;
        this.balance = data.detail.response[0].balance;*/
     }
   }
   window.customElements.define(VisorCuentas.is, VisorCuentas);  //esto es para gestionar customElements: cuando encuentre algún elemento (etiqueta) no estandar, lo busca en la clase FrontproyectoApp
 </script>
</dom-module>
