<link rel="import" href="../../bower_components/polymer/polymer-element.html">


<dom-module id="emisor-evento">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <h5>Soy el emisor</h5>
  <button on-click="sendEvent">No pulsar</button>

 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class EmisorEvento extends Polymer.Element {
     static get is() { return 'emisor-evento'; }
     static get properties() {
       return {

       };
     }
     sendEvent(e) {
       console.log("Pulsado el boton");
       console.log(e);

       this.dispatchEvent(
         new CustomEvent(
           "myevent",
           {
             "detail":{
               "course" : "Techu",
               "year": 2018
             }
           }
         )
       );
     }
    }

   window.customElements.define(EmisorEvento.is, EmisorEvento);
 </script>
</dom-module>
