<link rel="import" href="../../bower_components/polymer/polymer-element.html">


<dom-module id="page-not-found">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <h2>Aqui no hay nada que ver</h2>

 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class PageNotFound extends Polymer.Element {
     static get is() { return 'page-not-found'; }
     static get properties() {
       return {

       };
     }

    }

   window.customElements.define(PageNotFound.is, PageNotFound);
 </script>
</dom-module>
